---
http_interactions:
- request:
    method: post
    uri: https://production.rutterapi.com/accounting/invoices?access_token=<access_token>
    body:
      encoding: UTF-8
      string: '{"invoice":{"customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","due_date":"2023-10-25T02:34:56.000Z","issue_date":"2023-01-25T02:34:56.000Z","currency_code":"USD","line_items":[{"total_amount":50000,"description":"From
        rutter rspec","item":{"id":"721f36b0-d654-4084-b318-0d9341411be6","quantity":50000,"unit_amount":1}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"349-rdKIkB12ECTtXZ4pU+58DbGjNlg"
    body:
      encoding: ASCII-8BIT
      string: '{"invoice":{"id":"be0f5aab-e268-479c-b043-46d6242ff8ff","platform_id":"806","document_number":"10","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","issue_date":"2023-01-25T08:00:00.000Z","due_date":"2023-10-25T07:00:00.000Z","currency_code":"USD","account_id":"","line_items":[{"id":null,"platform_id":"8","description":"From
        rutter rspec","unit_amount":"1","quantity":50000,"discount_amount":null,"sub_total":"50000","tax_amount":null,"amount":"50000","discount_percentage":null,"tax_rate_id":null,"item_id":"721f36b0-d654-4084-b318-0d9341411be6","account_id":"33970135-6336-44ff-b7e1-26c639b6c5c1"}],"status":"open","total_discount":null,"sub_total":"50000","tax_amount":null,"total_amount":"50000","amount_due":"50000","linked_payments":[],"memo":null,"created_at":"2023-05-26T00:08:00.000Z","updated_at":"2023-05-26T00:08:00.000Z"}}'
  recorded_at: Fri, 26 May 2023 00:08:15 GMT
recorded_with: VCR 6.1.0
