---
http_interactions:
- request:
    method: get
    uri: https://production.rutterapi.com/accounting/customers/00144897-32bb-4e78-8946-1937ebdfef94?access_token=<access_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ce-dD8HOLa5GLIYYyThSnbDPJJiHjw"
    body:
      encoding: ASCII-8BIT
      string: '{"customer":{"id":"00144897-32bb-4e78-8946-1937ebdfef94","platform_id":"109","customer_name":"test
        customer","contact_name":null,"email":"test@gmail.com","currency_code":null,"phone":"+1712345344","addresses":[{"type":"billing","address1":"123
        Fake Street","address2":null,"city":"Los Angeles","region":"CA","country":"US","postal_code":"90021"},{"type":"shipping","address1":"123
        Fake Street","address2":null,"city":"Los Angeles","region":"CA","country":"US","postal_code":"90021"}],"registration_number":null,"tax_number":null,"updated_at":"2023-05-23T22:48:00.000Z","status":"INACTIVE"},"connection":{"id":"c8b3f9d7-3362-4769-b9eb-af736c0e74b4","platform":"NETSUITE","orgId":"329f1bd7-16a7-4ad8-b59b-00e1783a3da4"}}'
  recorded_at: Thu, 25 May 2023 22:14:01 GMT
recorded_with: VCR 6.1.0
