---
http_interactions:
- request:
    method: get
    uri: https://production.rutterapi.com/accounting/invoices?access_token=<access_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c3c-kjqnwxTiJ455YS3j6yImzfKCPgk"
    body:
      encoding: ASCII-8BIT
      string: '{"invoices":[{"id":"bc02d284-7d24-44ed-8060-7a49bf1ab071","platform_id":"605","document_number":"6","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","issue_date":"2023-10-25T07:00:00.000Z","due_date":"2023-10-25T07:00:00.000Z","currency_code":"USD","account_id":"","line_items":[{"id":null,"platform_id":"8","description":"Created
        from rspec","unit_amount":"1","quantity":99999,"discount_amount":null,"sub_total":"99999","tax_amount":null,"amount":"99999","discount_percentage":null,"tax_rate_id":null,"item_id":"721f36b0-d654-4084-b318-0d9341411be6","account_id":"33970135-6336-44ff-b7e1-26c639b6c5c1"}],"status":"open","total_discount":null,"sub_total":"99999","tax_amount":null,"total_amount":"99999","amount_due":"99999","linked_payments":[],"memo":null,"created_at":"2023-05-25T19:26:00.000Z","updated_at":"2023-05-25T19:26:00.000Z"},{"id":"9a6a6b61-dc0e-48c0-98bc-cf118e6d6623","platform_id":"201","document_number":"4","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","issue_date":"2023-04-18T07:00:00.000Z","due_date":"2023-05-24T07:00:00.000Z","currency_code":"USD","account_id":"","line_items":[{"id":null,"platform_id":"6","description":"A
        Rutter Shirt","unit_amount":"2","quantity":1,"discount_amount":null,"sub_total":"2","tax_amount":null,"amount":"2","discount_percentage":null,"tax_rate_id":null,"item_id":"cd042f4a-db0e-44d2-89b6-ef1f98c8f9e5","account_id":"33970135-6336-44ff-b7e1-26c639b6c5c1"}],"status":"partially_paid","total_discount":null,"sub_total":"2","tax_amount":null,"total_amount":"2","amount_due":"1","linked_payments":[{"id":"de07c232-890b-4f76-bc40-ae48b2c3b671","type":"INVOICE_PAYMENT","amount":"1","date":"2023-05-23T07:00:00.000Z"}],"memo":"invoice
        push 20230418 15.26","created_at":"2023-05-23T18:21:00.000Z","updated_at":"2023-05-23T18:21:00.000Z"},{"id":"f27f571f-1631-4b69-8325-8983b17713ee","platform_id":"304","document_number":"5","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","issue_date":"2023-01-25T08:00:00.000Z","due_date":"2023-01-25T08:00:00.000Z","currency_code":"USD","account_id":"","line_items":[{"id":null,"platform_id":"8","description":"A
        Streamlined Shirt","u[...]
