---
http_interactions:
- request:
    method: get
    uri: https://production.rutterapi.com/accounting/invoice_payments?access_token=<access_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb-Fh+rfvXDKqYM5HDl7P5YLQGtz2k"
    body:
      encoding: ASCII-8BIT
      string: '{"invoice_payments":[{"id":"3e6b5e7f-14e1-45d2-9304-292ff62792ba","platform_id":"805","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","account_id":"7efd4004-4b3f-469b-99dc-9930bb1b7134","total_amount":"2","currency_code":"USD","txn_date":"2023-05-20T07:00:00.000Z","memo":"a
        memo","linked_invoices":[{"id":"3953eb49-5818-499b-ab47-b9abd76b4053","amount":"2","allocated_at":"2023-01-02T08:00:00.000Z"}],"updated_at":"2023-05-26T00:04:00.000Z"},{"id":"98f05d4c-3e8d-456c-9257-e2f0ddc0e8b7","platform_id":"505","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","account_id":"7efd4004-4b3f-469b-99dc-9930bb1b7134","total_amount":"2","currency_code":"USD","txn_date":"2023-05-20T07:00:00.000Z","memo":"a
        memo","linked_invoices":[{"id":"676bb88e-56e6-45f3-b2a9-fe93a55f9a89","amount":"2","allocated_at":"2023-01-25T08:00:00.000Z"}],"updated_at":"2023-05-25T18:16:00.000Z"},{"id":"d76d724d-abef-4925-bea1-43ee773006eb","platform_id":"405","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","account_id":"7efd4004-4b3f-469b-99dc-9930bb1b7134","total_amount":"0.01","currency_code":"USD","txn_date":"2023-05-19T07:00:00.000Z","memo":"Rutter
        Demo Test Customer Payment","linked_invoices":[{"id":"e65770f8-7c25-4abf-be2f-53320b15bd7a","amount":"0.01","allocated_at":"2023-01-02T08:00:00.000Z"}],"updated_at":"2023-05-25T13:22:00.000Z"}],"next_cursor":null,"connection":{"id":"c8b3f9d7-3362-4769-b9eb-af736c0e74b4","platform":"NETSUITE","orgId":"329f1bd7-16a7-4ad8-b59b-00e1783a3da4"}}'
  recorded_at: Fri, 26 May 2023 00:08:16 GMT
recorded_with: VCR 6.1.0
