---
http_interactions:
- request:
    method: get
    uri: https://production.rutterapi.com/accounting/invoices/bc02d284-7d24-44ed-8060-7a49bf1ab071?access_token=<access_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c9-ESk7oJM6ww/RjTY4rqARQ4iEAII"
    body:
      encoding: ASCII-8BIT
      string: '{"invoice":{"id":"bc02d284-7d24-44ed-8060-7a49bf1ab071","platform_id":"605","document_number":"6","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","issue_date":"2023-10-25T07:00:00.000Z","due_date":"2023-10-25T07:00:00.000Z","currency_code":"USD","account_id":"","line_items":[{"id":null,"platform_id":"8","description":"Created
        from rspec","unit_amount":"1","quantity":99999,"discount_amount":null,"sub_total":"99999","tax_amount":null,"amount":"99999","discount_percentage":null,"tax_rate_id":null,"item_id":"721f36b0-d654-4084-b318-0d9341411be6","account_id":"33970135-6336-44ff-b7e1-26c639b6c5c1"}],"status":"open","total_discount":null,"sub_total":"99999","tax_amount":null,"total_amount":"99999","amount_due":"99999","linked_payments":[],"memo":null,"created_at":"2023-05-25T19:26:00.000Z","updated_at":"2023-05-25T19:26:00.000Z"},"connection":{"id":"c8b3f9d7-3362-4769-b9eb-af736c0e74b4","platform":"NETSUITE","orgId":"329f1bd7-16a7-4ad8-b59b-00e1783a3da4"}}'
  recorded_at: Fri, 26 May 2023 00:08:06 GMT
recorded_with: VCR 6.1.0
