---
http_interactions:
- request:
    method: get
    uri: https://production.rutterapi.com/accounting/invoice_payments/98f05d4c-3e8d-456c-9257-e2f0ddc0e8b7?access_token=<access_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23e-DjLzUm3FZrmrC9qJIoEiPJT6N7s"
    body:
      encoding: ASCII-8BIT
      string: '{"invoice_payment":{"id":"98f05d4c-3e8d-456c-9257-e2f0ddc0e8b7","platform_id":"505","customer_id":"25c94fdb-4426-42d9-b7f6-f541593e83cd","account_id":"7efd4004-4b3f-469b-99dc-9930bb1b7134","total_amount":"2","currency_code":"USD","txn_date":"2023-05-20T07:00:00.000Z","memo":"a
        memo","linked_invoices":[{"id":"676bb88e-56e6-45f3-b2a9-fe93a55f9a89","amount":"2","allocated_at":"2023-01-25T08:00:00.000Z"}],"updated_at":"2023-05-25T18:16:00.000Z"},"connection":{"id":"c8b3f9d7-3362-4769-b9eb-af736c0e74b4","platform":"NETSUITE","orgId":"329f1bd7-16a7-4ad8-b59b-00e1783a3da4"}}'
  recorded_at: Fri, 26 May 2023 00:08:17 GMT
recorded_with: VCR 6.1.0
